<!DOCTYPE html>
<html>

<head>
	<title>Delete Entry</title>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>

	<div class="app-view">
		<div class="sidebar">
			<ul>
				<li><a class="active" href="/">Home</a></li>
				<li><a href="/">Add Entery</a></li>
				<li><a href="/update">Update</a></li>
				<li><a href="/delete">Delete</a></li>
				<li><a href="/search">Search</a></li>
				<li><a href="/viewall">view all record</a></li>
			</ul>
		</div>
		<div class="content-bar">

			<span>Delete Entery</span>

			<h3>Student information</h3>

			Registration No<br>
			<form action="/delete" method="POST">
				<input type="number" name="regno"><br>
				<input type="submit" value="update & save">
			</form>
			</table>
		</div>

	</div>


</body>

</html>