<!DOCTYPE html>
<html>

<head>
	<title>Add Entry </title>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>

	<div class="app-view">
		<div class="sidebar">
			<ul>
				<li><a class="active" href="/">Home</a></li>
				<li><a href="/">Add Entery</a></li>
				<li><a href="/update">Update</a></li>
				<li><a href="/delete">Delete</a></li>
				<li><a href="/search">Search</a></li>
				<li><a href="/viewall">view all record</a></li>
			</ul>
		</div>
		<div class="content-bar">

			<span>Add Entery</span>

			<h3>Student information</h3>

			<div class="userdata">

				<form action="/" method="POST">
					First name:<br>
					<input type="text" name="firstname" required>
					<br>
					Last name:<br>
					<input type="text" name="lastname" required><br>

					Registration No<br>
					<input type="number" name="regno" required><br>

					Domain<br>
					<select name="domain" required>
						<option value="cse" selected>CSE</option>
						<option value="eee">EEE</option>
						<option value="civil">CIVIL</option>
					</select><br>

					Select year<br>
					<select name="year" required>
						<option value="1st" selected>First</option>
						<option value="1st" selected>Second</option>
						<option value="1st" selected>Third</option>
						<option value="1st" selected>Fourth</option>
					</select><br>

					Date Of Birth:<br>
					<input type="date" name="date" required><br>
					Address:<br>
					<input type="text" name="address" required><br>
					<input type="submit" value="Submit">

				</form>
			</div>
		</div>

		</table>
	</div>

	</div>


</body>

</html>