<!DOCTYPE html>
<html>

<head>
	<title>User logIn</title>
	<link rel="stylesheet" type="text/css" href="sudo_style.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/sudo_style.css') }}">
	<style>
		.loginp {
			font-size: 14px;
			font-size: 14px;
		}
	</style>
</head>

<body>
	<div class="log-mod">

		<form class="form-signin" action="/" method="POST">

			<h2 class="form-signin-heading" style="margin: 0;">Please login</h2>

			<input type="text" class="form-control" name="userLoginEmail" placeholder="Email Address" required=""
				autofocus="" />

			<input type="password" class="form-control" name="userLoginPsd" placeholder="Password" required="" />
			</br>
			{% if wrong_password %}
			<p class="loginp">fuck you ! wrong_password</p>
			{% endif %}

			{% if wrong_email %}
			<p class="loginp">fuck you ! This email is not registered</p>
			{% endif %}
			<button class="btn" type="submit">Login</button>
		</form>
	</div>

</body>

</html>