<!DOCTYPE html>
<html>

<head>
	<title>Search Entry </title>
	<link rel="stylesheet" href="style.css">
</head>

<body>

	<div class="app-view">
		<div class="sidebar">
			<ul>
				<li><a class="active" href="#home">Home</a></li>
				<li><a href="index.html">Add Entery</a></li>
				<li><a href="update.html">Update</a></li>
				<li><a href="delete.html">Delete</a></li>
				<li><a href="search.html">Search</a></li>
				<li><a href="allrec.html">view all record</a></li>

			</ul>
		</div>
		<div class="content-bar">

			<span>Search Entery</span>

			<h3>Student information</h3>
			<form action="">

				<div class="userdata">


					Registration No<br>
					<input type="number" name="regno"><br>
					<input type="submit" value="Submit">
				</div>

			</form><br>

			<div class="src-dataview">

				<table>
					<tr>
						<th>Registration No</th>
						<th>First name</th>
						<th>Last name</th>
						<th>Year</th>
						<th>Date of birth</th>
						<th>Address</th>
					</tr>
					<tr>
						<td>778713</td>
						<td>cabdic </td>
						<td>sanpole</td>
						<td>fourth</td>
						<td>09/03/1996</td>
						<td>Chittagong</td>
					</tr>

				</table>
			</div>
		</div>

	</div>


</body>

</html>