<!DOCTYPE html>
<html>

<head>
	<title>Search Entry </title>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>

	<div class="app-view">
		<div class="sidebar">
			<ul>
				<li><a class="active" href="/">Home</a></li>
				<li><a href="/">Add Entery</a></li>
				<li><a href="/update">Update</a></li>
				<li><a href="/delete">Delete</a></li>
				<li><a href="/search">Search</a></li>
				<li><a href="/viewall">view all record</a></li>
			</ul>
		</div>
		<div class="content-bar">

			<span>Search Entery</span>

			<h3>Student information</h3>
			<form action="/search" method="POST">
				<div class="userdata">
					Registration No<br>
					<input type="number" name="regno"><br>
					<input type="submit" value="Submit">
				</div>
			</form><br>

			<div class="src-dataview">

				<table>
					<!-- {% for u in user %} -->
					<tr>
						<th>Registration No</th>
						<th>First name</th>
						<th>Last name</th>
						<th>Year</th>
						<th>Date of birth</th>
						<th>Address</th>
					</tr>
					<tr>
						<td>{{user.regno}}</td>
						<td>{{user.firstname}} </td>
						<td>{{user.lastname}}</td>
						<td>{{user.year}}</td>
						<td>{{user.date}}</td>
						<td>{{user.address}}</td>
					</tr>
					<!-- {% endfor %} -->
				</table>
			</div>
		</div>

	</div>


</body>

</html>