<!DOCTYPE html>
<html>

<head>
    <title>All Record </title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>

    <div class="app-view">
        <div class="sidebar">
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/">Add Entery</a></li>
                <li><a href="/update">Update</a></li>
                <li><a href="/delete">Delete</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/viewall">view all record</a></li>
            </ul>
        </div>
        <div class="content-bar">

            <span>Add Entery</span>

            <h3>Student information</h3>

            <div class="userdata">

                <table class="table view-table">
                    <thead>
                        <tr>
                            <th>regno</th>
                            <th>firstname</th>
                            <th>lastname</th>
                            <th>year</th>
                            <th>date</th>
                            <th>domain</th>
                            <th>address</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in user %}
                        <tr>
                            <td>{{u.regno}}</td>
                            <td>{{u.firstname}}</td>
                            <td>{{u.lastname}}</td>
                            <td>{{u.year}}</td>
                            <td>{{u.date}}</td>
                            <td>{{u.domain}}</td>
                            <td>{{u.address}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

        </table>
    </div>

    </div>


</body>

</html>