<!DOCTYPE html>
<html>

<head>
	<title>Add Entry </title>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>

            <table class="table view-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in user %}
                    <tr>
                        <td>{{u._id}}</td>
                        <td>{{u.name}}</td>
                        <td>{{u.email}}</td>
                        <td>{{u.address}}</td>
                        <td>{{u.phone}}</td>
                        <td><a class="btn" href="/update/{{u._id}}">Edit</a></td>
                        <td><a class="btn" href="/delete/{{u._id}}">delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
    </div>

</body>

</html>
