<!DOCTYPE html>
<html>

<head>
	<title>Add Entry </title>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>

            <table class="table view-table">
                <thead>
                    <tr>
                        <th>regno</th>
                        <th>firstname</th>
                        <th>lastname</th>
                        <th>year</th>
                        <th>date</th>
												<th>domain</th>
												<th>address</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in user %}
                    <tr>
                        <td>{{u.regno}}</td>
                        <td>{{u.firstname}}</td>
                        <td>{{u.lastname}}</td>
                        <td>{{u.year}}</td>
												<td>{{u.datw}}</td>
												<td>{{u.domain}}</td>
                        <td>{{u.address}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
    </div>

</body>

</html>
