@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}


a {
  text-decoration: none;
}

.header {
  width: 100%;
  background-color: #DD2C00;
  overflow: hidden;
  padding: 12px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.user-header {
  background: #248D0F
}


.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header li {
  float: left;
}

.header li a {
  display: block;
  color:
    white;
  text-align: center;
  padding: 6px 15px;
  text-decoration: none;
}


.nav-right ul li {
  margin-right: 10px;
}

.active {
  background-color: #4CAF50;
}


.app-sidebar {
  float: left;
  margin-top: 3px;
  padding: 10px 30px;
  width: 12%;
  overflow: hidden;
  height: auto;
  border-right: 1px solid #e7e7e7;
}

.app-sidebar h4 {
  margin-bottom: 20px;
}

.app-sidebar ul li {
  color: #000;
  padding: 8px 0;
  text-decoration: none;
  list-style-type: none;
}

.app-sidebar ul li a {
  color: #333;
  list-style-type: none;
  font-size: 14px;
}

.app-sidebar ul li a:hover:not(.active) {
  color: #000;
}

.app-content {
  float: left;
  padding: 10px 15px;
  width: 80%;
  overflow: hidden;
}

.app-data {
  padding: 30px auto;
}


.card-block {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: ;
  padding: 10px 0;
  margin-bottom: 40px;
}

.card {

  background-color: #FFE9EC;
  padding: 20px;
  text-align: center;
  height: 70px;
  cursor: pointer;
}

.app-content h2 {
  font-size: 24px;
  font-weight: 200;
  margin: 20px auto;
}

.card-heading {
  display: block;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.card-num {
  font-size: 46px;
  margin-bottom: 13px;
  display: block;
  color: #EF6564;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #FFE9EC;
}

.user_list {
  margin: 15px 0 10px 0;
}


.log-mod {
  padding: 30px 20px;
  overflow: hidden;
  color: #fff;
}


.log-mod h3 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;

}

.form-signin {
  padding: 15px 35px 45px;
  width: 17%;
  margin: 100px auto;
  background-color: #a30000;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-heading,
.checkbox {
  margin-bottom: 30px;
}

.checkbox {
  font-weight: normal;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;

  &: focus {
    z-index: 2;
  }

  :;
  margin: 15px 0;
  width: 90%;
}




.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
}


.log-mod .btn {
  display: block;
  padding: 4px 15px;
  margin: 10px 0 0 0;
}

.btn {
  padding: 9px 20px;
  border-radius: 3px;
  margin-top: 15px;
  font-size: 16px;
}

.btn:hover {
  background: #dd2c00;
  color: #FFE9EC;
  cursor: pointer;
}




input[type=text] {
  border-radius: 0;
  border: 1px solid #444;
  box-sizing: border-box;
}

input[type=number] {
  border-radius: 0;
  border: 1px solid #444;
  box-sizing: border-box;
}

input[type=password] {
  border-radius: 0;
  border: 1px solid #444;
  box-sizing: border-box;
}